{{!-- messageList.hbs --}}
<br/>
{{#if messages.length}}
    {{#each messages}}
        <p>
            <span style="font-weight:bold;color:blue">{{this.email}}</span>
            <span>[<span style="color:red" >{{this.created_at}}</span>]:</span>
            <span style="color:green">{{this.msg}}</span>
        </p>
    {{/each}}

{{/if}}