<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit-cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My awesome App</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <div style="background-color:white;padding:20px">
      <div style="background-color:LightGray;padding:20px;height: 600px;">
        <br/>
        <a href="/alta-producto" class="btn btn-success" style="float: right;" role="button" aria-pressed="true">Alta producto</a>
        <br/>
        <h1 style="color:blue">Vista de productos</h1>
        <br/>
        <% if (products.length) { %>
            <table class="table" style="background-color:DimGray;padding:20px;color:white">
                <thead>
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Foto</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(function(product) { %>
                        <tr>
                            <td><%= product.title%></td>
                            <td><%= product.price%></td>
                            <td><img src="<%= product.thumbnail%>" style="width: 80px" /></td>
                        </tr>
                    <% }); %> 
                </tbody>
            </table>
        <% } else { %>
            <div style="background-color:LightYellow;padding:20px;color:black"><h2>No se encontraron productos</h2></div>
        <% } %>
      </div>
    </div>
  </body>
</html>