{{!-- messageList.hbs --}}
<br/>
{{#if messages.length}}
    {{#each messages}}
        <p>
            <span style="font-weight:bold;color:blue">{{this.author.id}}</span>
            <span>[<span style="color:brown" >{{this.created_at}}</span>]:</span>
            <span style="color:green;font-style: italic;">{{this.text}}</span>
            <span><img src="{{this.author.avatar}}" style="width: 80px" /></span>
        </p>
    {{/each}}

{{/if}}