<form action="/api/productos" name="product_form" id="product_form"  method="POST">
            <div class="m-4">

                <div class="text-left">


                    <div class="row">
                        <div class="col-12">
                            <h1 style="color:blue">Ingrese Producto</h1>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-6">
                            <label for="name" class="form-label">Nombre</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                        <input type="text" class="form-control" name="name" id="name" />
                        </div>
                    
                    </div>


                    <div class="row">
                        <div class="col-6">
                            <label for="description" class="form-label">Descripcion</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                        <input type="text" class="form-control" name="description" id="description" />
                        </div>
                    
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="code" class="form-label">Codigo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                        <input type="text" class="form-control" name="code" id="code" />
                        </div>
                    
                    </div>

                    <div class="row">
                        <div class="col-6">
                                <label for="price" class="form-label">Precio</label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="number" class="form-control"  name="price" id="price" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="stock" class="form-label">Stock</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" name="stock" id="stock" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="photo_url" class="form-label">Foto Url</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" name="photo_url" id="photo_url" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <br/>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div> 
                    </div>


                </div>

                <br/>
            </div>
          </form>